<!-- Heading -->
<div class="heading">
  <div class="container">
    <div class="header">
      <div class="dish">
        <img src="../../assets/Images/dish.png" alt="dish">
      </div>
      <div class="mainHead">
        <h1>Beautiful <span>Food</span> & Takeaway, Delivered To Your Door</h1>
      </div>
    </div>
    <div class="description">
      <div class="burger">
        <img src="../../assets/Images/burger.jpg" alt="burger">
      </div>
      <div class="desc">
        <p>We Can Reach You Anywere.</p>
        <button class="button">Place An Order</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Heading -->
<!-- Menu -->
<div class="menu">
  <div class="container">
    <div class="companies">
      <ul>
        <li><img src="../../assets/Images/amazon.png" alt="amazon"></li>
        <li><img src="../../assets/Images/google-logo-png-hd-11.png" alt="google"></li>
        <li><img src="../../assets/Images/Sky-Symbol.png" alt="sky"></li>
        <li><img src="../../assets/Images/microsoft-logo-png-1.png" alt="Microsoft"></li>
      </ul>
    </div>
    <div class="head">
      <p>Specialties</p>
      <h1>Our Special Menu</h1>
    </div>
    <div class="crds">
      <div class="seafood">
        <img src="../../assets/Images/seafood.jpg" alt="seafood">
      </div>
      <div class="types">
        <div class="crd-blue">
          <h1>Jabanese</h1>
          <p>Restuarant templates below.you can easily customize any of our restuarant</p>
        </div>
        <div class="crd-orange">
          <h1>Western</h1>
          <p>Restuarant templates below.you can easily customize any of our restuarant</p>
        </div>
        <div class="crd-blue">
          <h1>Middle Eastern</h1>
          <p>Restuarant templates below.you can easily customize any of our restuarant</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Menu -->
<!-- About Us -->
<div class="about-us">
  <div class="container">
    <div class="head">
      <div class="image">
        <img src="../../assets/Images/about us.jpg" alt="about us">
        <div class="adv">
          <h4>About Us</h4>
          <h1>We Always Serve You Better</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a>Learn More</a>
        </div>
      </div>
    </div>
    <div class="crds">
      <div class="crd-blue">
        <h1>20+</h1> Restuarant
      </div>
      <div class="crd-blue">
        <h1>12+</h1> Years of Experince
      </div>
      <div class="crd-blue">
        <h1>50+</h1> Menu Dishes
      </div>
      <div class="crd-blue">
        <h1>250+</h1> Happy Customers
      </div>
    </div>
  </div>
</div>
<!-- End of About Us -->
<!-- Special Dishes -->
<div class="special-dishes">
  <div class="container">
    <div class="dessert-package">
      <img src="../../assets/Images/dessert.jpg" alt="">
      <div class="main-course-package">
        <h2>Main Course Package</h2>
        <ul>
          <li>Chiken Curry</li>
          <li>Sirloin Steak</li>
          <li>Suchi</li>
        </ul>
        <span>185$</span>
      </div>
    </div>
    <div class="recommendation">
      <h3>Special Dishes</h3>
      <h1>Our Recommendation Menu</h1>
      <button class="button">Discover Our Menu</button>
    </div>
  </div>
</div>
<!-- Special Dishes -->
<!-- Personal -->
<div class="personal">
  <div class="container">
    <img src="../../assets/Images/orange-quotation-marks-png-7-1030x773.png" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus animi ut explicabo quos quia. Quia aut quas
      tenetur adipisci dignissimos ipsam. Nulla voluptatem corrupti iusto nihil necessitatibus unde, vitae amet!</p>
    <h3>Ahmed Magdy , Karim Ahmed and Osama Sowidan</h3>
  </div>
</div>
<!-- End of Personal -->
