<!-- Contacts -->
<div class="contacts">
  <div class="container">
    <div class="b-food">
      <h4><span>B.</span>Food</h4>
      <p>Home to a warm and welcoming vibe where life's simpliicities</p>
    </div>
    <div class="cont">
      <h4>Contact</h4>
      <p>+999999999</p>
      <p>mail@mail.com</p>
      <p>1595 st London</p>
    </div>
    <div class="recipe">
      <h4>Never miss a recipe</h4>
      <input type="email" id="mail" placeholder="Email">
      <button class="button">Subscribe</button>
    </div>
  </div>
</div>
<!-- End of Contacts -->
<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="b-food">
      &#169;2022 <span>B.</span>Food.All rights Reserved
    </div>
    <ul>
      <li><i class="bi bi-facebook"></i></li>
      <li><i class="bi bi-instagram"></i></li>
      <li><i class="bi bi-twitter"></i></li>
      <li><i class="bi bi-linkedin"></i></li>
    </ul>
  </div>
</div>
<!-- End of Footer -->
